.AboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-family: monospace;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  gap: 50px;
  &_container {
    flex: 1;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    padding: 14px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(212, 175, 55, 0.5);
    animation: slideInFromTop 0.7s ease forwards;
    transform-origin: top center;
    gap: 20px;
    position: relative;
    overflow: visible;
  }
  &_wrapper > img {
    width: 80px;
    border-radius: 50%;
    opacity: 0;
    animation: imageAppear 0.7s ease forwards;
    animation-delay: 0.2s;
    transition: transform 0.25s ease;
    will-change: transform;
  }
  &_lang {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 10;
  }
  &_menu {
    display: flex;
    flex-direction: column;
  }
  &_item {
    font-size: 10px;
    padding: 4px;
  }

  &_content {
    padding: 2px;
  }
  &_title {
    margin-bottom: 4px;
    color: #fbe8a6;
    font-size: 0.9rem;
  }
  &_text {
    line-height: 1.3;
    color: #e0d7b0;
    font-size: 0.8rem;
    font-family: monospace;
  }
  &_slider {
    width: 100%;
    max-width: 1100px;
    position: relative;

    .slick-prev,
    .slick-next {
      width: 40px;
      height: 40px;
      z-index: 10;
      border-radius: 50%;
      background: rgba(40, 39, 39, 0.2); /* полупрозрачный фон */
      box-shadow:
        inset 0 0 10px rgba(212, 175, 55, 0.35),
        0 0 4px rgba(212, 175, 55, 0.25);
      display: flex !important;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      /* плавный отклик */
      transition:
        transform 0.4s ease,
        box-shadow 0.4s ease,
        background 0.4s ease;
    }

    .slick-prev:hover,
    .slick-next:hover {
      box-shadow:
        inset 0 0 10px rgba(212, 175, 55, 0.6),
        0 0 5px rgba(212, 175, 55, 0.45);
    }

    .slick-prev:active,
    .slick-next:active {
      box-shadow: inset 0 0 14px rgba(212, 175, 55, 0.8);
    }

    .slick-prev {
      left: -45px;
    }

    .slick-next {
      right: -45px;
    }

    /* кастом цвет стрелок */
    .slick-prev::before,
    .slick-next::before {
      font-size: 16px;
      color: #a28b3f;
      opacity: 0.95;
    }
  }
  &_slide {
    padding: 1.5px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}

/* Animations */
@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imageAppear {
  from {
    opacity: 0;
    transform: translateX(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

/* MOBILE */
@media (max-width: 628px) {
  .AboutPage {
    gap: 30px;
    margin-top: 80px;
  }

  .AboutPage_container {
    gap: 6px;
    padding: 6px;
  }
  .AboutPage_title {
    font-size: 0.8rem;
  }
  .AboutPage_wrapper > img {
    width: 46px;
  }

  .AboutPage_text {
    line-height: 1.1;
    font-size: 0.7rem;
    font-family: monospace;
  }

  .AboutPage_slider {
    margin-top: 50px;
    .slick-prev,
    .slick-next {
      width: 34px;
      height: 34px;
    }
    .AboutPage_slide {
      padding: 1px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .slick-prev {
      left: -15px;
    }

    .slick-next {
      right: -15px;
    }
  }
}
