.AboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  font-family: monospace;
  gap: 20px;
  overflow-x: hidden; // ✅ фикс
  overflow-y: auto;
  padding: 8px;
}

.AboutContainer {
  flex: 1;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(212, 175, 55, 0.5);
  animation: slideIn 0.7s ease forwards;
  gap: 25px;
  position: relative;
  overflow: hidden;
  padding: 25px;
}

/* React logo */
.AboutImageWrapper {
  display: flex;
  justify-content: start;
}

.AboutImage {
  width: 160px;
  border-radius: 6px;
  border: 1px solid #d4af37;
  opacity: 0;
  animation: imageAppear 0.7s ease forwards;
}

/* Language */
.AboutLang {
  position: absolute;
  top: 20px;
  right: 16px;
  z-index: 5;
}

.AboutLang_menu {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  .AboutLang_item {
    font-size: 12px;
    padding: 3px;
  }
}

/* Content */
.AboutTitle {
  margin-bottom: 5px;
  color: #fbe8a6;
  font-size: 1rem;
}

.AboutText {
  line-height: 1.6;
  color: #e0d7b0;
  font-size: 0.8rem;
  font-family: monospace;
}

/* Animations */

@keyframes imageAppear {
  from {
    opacity: 0;
    transform: translateX(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

/* MOBILE */
@media (max-width: 728px) {
  .AboutPage {
    flex-direction: column;
    align-items: center;
  }

  .AboutImage {
    width: 120px;
  }
}
