.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  input {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #82795c;
    box-shadow: inset 0.5px 1px 2px 0.5px rgba(212, 175, 55, 0.5);
    background: transparent;
    color: #fbe8a6;
    font-family: monospace;
    transition: all 0.25s ease;

    &::placeholder {
      color: #b59854;
    }

    &:focus {
      outline: none;
      border-color: #ffd700;
      box-shadow: 0 0 2px rgba(212, 175, 55, 0.5);
    }
  }

  .error {
    color: #ed6a6a;
    font-size: 10px;
  }

  .password-wrapper {
    display: flex;
    position: relative;

    input {
      flex: 1;
      padding-right: 10px;
    }

    .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #fbe8a6;

      transition: color 0.3s ease;

      &:hover {
        color: #ffd700;
      }
    }
  }

  @media (max-width: 768px) {
    input {
      padding: 8px;
      font-size: 0.95rem;
    }

    .password-wrapper input {
      padding-right: 32px;
    }
  }
}
