.LoginForm {
  display: flex;
  // Flex-контейнер для формы логина, позволяет выравнивать элементы вертикально или горизонтально

  flex-direction: column;
  // Элементы формы располагаются вертикально (email, password, кнопка)

  gap: 16px;
  // Расстояние между элементами формы

  width: 100%;
  // Форма занимает всю ширину контейнера

  input {
    padding: 11px;
    // Внутренний отступ поля ввода

    border-radius: 14px;
    // Скругленные углы поля

    border: 0.5px solid #82795c;
    // Золотистая рамка вокруг input
    box-shadow: inset 0.5px 1px 2px 0.5px rgba(212, 175, 55, 0.5);
    background: transparent;
    // Темный полупрозрачный фон

    color: #fbe8a6;
    // Цвет текста внутри input

    font-family: monospace;
    // Моноширинный шрифт для текста

    transition: all 0.25s ease;
    // Плавная анимация для всех свойств при изменении (например, при фокусе)

    &::placeholder {
      color: #ccc;
      // Цвет текста-подсказки в input
    }

    &:focus {
      outline: none;
      // Убираем стандартный outline при фокусе

      border-color: #ffd700;
      // Меняем цвет рамки на золотой при фокусе

      box-shadow: 0 0 6px rgba(212, 175, 55, 0.5);
      // Добавляем мягкую тень при фокусе
    }
  }

  .error {
    color: #ed6a6a;
    font-size: 12px;
    margin-bottom: -2px;
    margin-top: -2px;
  }

  .password-wrapper {
    display: flex;
    // Flex-контейнер для input пароля и иконки показать/скрыть

    position: relative;
    // Позволяет позиционировать иконку абсолютно внутри контейнера

    input {
      flex: 1;
      // Поле пароля занимает всю доступную ширину

      padding-right: 10px;
      // Отступ справа для иконки
    }

    .toggle-password {
      position: absolute;
      // Абсолютное позиционирование относительно password-wrapper

      right: 10px;
      // Отступ справа от края

      top: 50%;
      // Центрируем по вертикали относительно контейнера

      transform: translateY(-50%);
      // Корректируем центрирование по вертикали

      cursor: pointer;
      // Курсор "рука", чтобы показать, что элемент кликабельный

      color: #fbe8a6;
      // Цвет иконки

      transition: color 0.25s ease;
      // Плавное изменение цвета при наведении

      &:hover {
        color: #ffd700;
        // Меняем цвет иконки на золотой при наведении
      }
    }
  }

  @media (max-width: 768px) {
    input {
      padding: 8px;
      // Меньший padding для мобильных устройств

      font-size: 0.95rem;
      // Меньший размер текста
    }

    .password-wrapper input {
      padding-right: 32px;
      // Меньший отступ справа для иконки на мобильных
    }
  }
}
