/* Контейнер страницы */
.AuthPageWrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  gap: 40px;
  justify-content: start;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(22, 18, 18, 0.6);
    z-index: 0;
    transition: background 0.4s ease;
  }

  &.login::before {
    background: rgba(43, 48, 43, 0.55);
  }

  &.register::before {
    background: rgba(44, 49, 44, 0.56);
  }

  &_title {
    z-index: 1;
    color: #ece194;
    font-family: monospace;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 22px;
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;

    &.fade-out {
      opacity: 0;
      transform: translateY(-20px);
    }

    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Анимированный баннер сверху */
  .AnimatedBanner {
    width: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background: linear-gradient(155deg, #2b2b2b, #3b321c);
    color: #fbe8a6;
    padding: 16px 32px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(212, 175, 55, 0.5);
    z-index: 2;
    font-weight: 600;
    font-family: monospace;
    opacity: 0;
    transition:
      transform 0.8s ease,
      opacity 0.8s ease;
  }

  &.showBanner .AnimatedBanner {
    transform: translateX(-50%) translateY(20px);
    opacity: 1;
  }
}

/* Контейнер формы и переключатель */
.AuthPage {
  display: flex;
  flex-direction: column;
  z-index: 1;
  max-width: 500px;
  width: 90%;
  padding: 22px;
  border-radius: 22px;
  /* Общий фон для Login и Register — как баннер */
  background: linear-gradient(155deg, #2b2b2b, #3b321c);
  box-shadow: 0 1px 6px 1px rgba(212, 175, 55, 0.5); /* как у баннера */
  transition: background 0.3s ease;

  .AuthPage_toggle {
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
    cursor: pointer;

    .segment {
      flex: 1;
      text-align: center;
      padding: 10px 0;
      font-weight: 600;
      font-size: 16px;
      /* Цвет текста и фон сегмента под общий стиль */
      background: rgba(40, 35, 30, 0.6);
      color: #fbe8a6;
      transition: all 0.4s ease;

      &.active {
        background: linear-gradient(155deg, #2b2b2b, #3b321c);
        color: #fbe8a6;
        box-shadow: inset 0 0 6px rgba(212, 175, 55, 0.35);
      }

      &:hover {
        background: rgba(212, 175, 55, 0.2);
        color: #fff;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 20px;

    .AuthPage_toggle .segment {
      font-size: 0.95rem;
      padding: 8px 0;
    }
  }
}
