/* Контейнер страницы */
.AuthPageWrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  gap: 40px;
  justify-content: start;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(22, 18, 18, 0.6);
    z-index: 0;
    transition: background 0.3s ease;
  }

  &.login::before {
    background: rgba(43, 48, 43, 0.55);
  }

  &.register::before {
    background: rgba(44, 49, 44, 0.56);
  }

  &_title {
    z-index: 1;
    color: #ece194;
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    transition: all 0.5s ease;

    &.fade-out {
      opacity: 0;
      transform: translateY(-20px);
    }

    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Контейнер формы */
.AuthPage {
  display: flex;
  flex-direction: column;
  z-index: 1;
  max-width: 500px;
  width: 90%;
  padding: 20px 16px;
  border-radius: 28px;
  background: linear-gradient(155deg, #2b2b2b, #3b321c);
  box-shadow: 0 1px 5px 1px rgba(212, 175, 55, 0.5);
  transition: background 0.3s ease;

  .AuthPage_toggle {
    display: flex;
    box-shadow: 0 1px 3px rgba(212, 175, 55, 0.5);
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 16px;

    .segment {
      flex: 1;
      text-align: center;
      padding: 10px;
      font-weight: 600;
      font-size: 14px;
      background: rgba(40, 35, 30, 0.6);
      color: #e4d291;
      cursor: pointer;
      transition: all 0.4s ease;

      &.active {
        background: linear-gradient(155deg, #2b2b2b, #3b321c);
        color: #fbe8a6;
        box-shadow: inset 0 0 6px rgba(212, 175, 55, 0.35);
      }

      &:hover {
        background: rgba(212, 175, 55, 0.2);
        color: #fff;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 20px;

    .segment {
      font-size: 0.85rem;
      padding: 6px 0;
    }
  }
}
