.Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 32px 64px;
  background: #0b0b0b;
  color: #fbe8a6;
  font-family: monospace;
  overflow: hidden;
  gap: 64px;
}

/* Левая часть */
.Home_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .Home_title {
    font-size: 56px;
    font-weight: 700;

    span {
      color: #d4af37;
    }
  }

  .Home_subtitle {
    font-size: 16px;
    opacity: 0.85;
  }
}

/* Правая часть */
.Home_right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px; // ключевое для 3D
}

/* Куб */
.Home_cube {
  position: relative;
  width: 140px;
  height: 140px;
  transform-style: preserve-3d;
  animation: rotateCube 8s linear infinite;

  .face {
    font-size: 12px;
    position: absolute;
    width: 140px;
    height: 140px;
    background: rgba(168, 144, 64, 0.2); // слегка видимая прозрачная грань
    border: 1px solid #d4af37;
    backface-visibility: hidden; // предотвращает мерцание

    display: flex; /* flex-контейнер */
    justify-content: center; /* центр по горизонтали */
    align-items: center; /* центр по вертикали */
    text-align: center; /* для многострочного текста */
  }

  /* Грани куба */
  .face--front {
    transform: rotateY(0deg) translateZ(75px);
  }
  .face--back {
    transform: rotateY(180deg) translateZ(75px);
  }
  .face--left {
    transform: rotateY(-90deg) translateZ(75px);
  }
  .face--right {
    transform: rotateY(90deg) translateZ(75px);
    writing-mode: vertical-rl; /* вертикальный текст сверху вниз */
    text-orientation: upright; /* буквы не переворачиваются */
  }
  .face--top {
    transform: rotateX(90deg) translateZ(75px);
  }
  .face--bottom {
    transform: rotateX(-90deg) translateZ(75px);
  }
}

/* Анимация вращения куба */
@keyframes rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* Адаптив */
@media (max-width: 1024px) {
  .Home_left .Home_title {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .Home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px 16px;
    text-align: center;
  }

  .Home_left,
  .Home_right {
    flex: unset;
    width: 100%;
  }

  .Home_cube {
    width: 120px;
    height: 120px;

    .face {
      width: 120px;
      height: 120px;
    }
  }
}
