.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  margin-top: 100px;

  &_title {
    margin-bottom: 16px;
    font-size: 1.2rem;
    color: #d8d3b0;
    text-shadow: 0 0 5px rgba(212, 175, 55, 0.6);
    text-align: center;
    opacity: 0;
    animation: fadeSlideUp 1.2s ease forwards;
    animation-delay: 0.3s;
  }

  &_subtext {
    padding: 16px;
    max-width: 720px;
    text-align: center;
    font-size: 0.95rem;
    line-height: 1.3;
    color: #d8d3b0;
    opacity: 0;
    animation: fadeSlideUp 1.2s ease forwards;
    animation-delay: 0.3s;
  }

  &_sliderWrapper {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 420px;
  }

  &_sliderInner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

  &_slide {
    height: 420px;
    display: flex !important;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_prev,
  &_next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    background: linear-gradient(155deg, #494444, #4d4224);
    box-shadow: 0 1px 4px 1px rgba(212, 175, 55, 0.5);
    z-index: 10;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: linear-gradient(155deg, #473e3e, #7c6733);
      transform: translateY(-50%) scale(1.1);
    }

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
    }
  }

  &_prev {
    left: -50px;

    &::before {
      transform: rotate(-135deg);
    }
  }

  &_next {
    right: -50px;

    &::before {
      transform: rotate(45deg);
    }
  }
}

/* animation */
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TABLET */
@media (max-width: 1024px) {
  .Home {
    &_sliderWrapper {
      max-width: 460px;
      height: 360px;
    }

    &_slide {
      height: 360px;
    }
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .Home {
    padding: 20px 0;

    &_title {
      font-size: 1.4rem;
    }

    &_subtext {
      font-size: 0.9rem;
      padding: 0 10px;
    }

    &_sliderWrapper {
      max-width: 92%;
      height: 300px;
    }

    &_slide {
      height: 300px;
    }

    &_prev,
    &_next {
      display: none;
    }
  }
}
