.btn {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-family: monospace;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.25s ease;
  text-align: center;

  &.btn--primary {
    /* Кнопка Submit */
    background: rgba(212, 175, 55, 0.25);
    color: #fff;
    border: 1px solid rgba(212, 175, 55, 0.7);

    &:hover {
      background: rgba(231, 198, 91, 0.45);
      color: #000;
      transform: translateY(-1px);
      box-shadow: 0 3px 14px rgba(218, 187, 83, 0.45);
    }
  }

  &.btn--secondary {
    /* Вкладки Login / Register */
    background: rgba(40, 35, 30, 0.6);
    color: #fbe8a6;
    border: 1px solid rgba(227, 209, 151, 0.5);
    font-weight: 600;
    transition: all 0.3s ease;

    &.active {
      background: linear-gradient(145deg, #fdebb2, #f4d27b);
      color: #1c1c1c;
      box-shadow: inset 0 0 8px rgba(212, 175, 55, 0.5);
    }

    &:hover {
      background: rgba(255, 235, 150, 0.2);
      color: #fff;
    }
  }
}
