.btn {
  padding: 12px 16px;

  border: none;
  cursor: pointer;
  font-family: monospace;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.25s ease;
  text-align: center;

  &.btn--primary {
    align-self: flex-start;
    padding: 8px 20px;
    margin-top: 4px;
    box-shadow: 0.5px 1px 0.5px 1px rgba(212, 175, 55, 0.6);
    background: linear-gradient(155deg, #2b2b2b, #3b321c);

    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    color: #fbe8a6;
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(155deg, #3b321c, #2b2b2b);
      color: #fff;
      transform: translateY(-1.5px);
      box-shadow: 0 0.5px 6px 0.5px rgba(212, 175, 55, 0.6);
    }
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &.btn--secondary {
    border-radius: 12px;
    padding: 10px;
    background: rgba(40, 35, 30, 0.6);
    color: #fbe8a6;
    box-shadow: 0.5px 1px 1.5px 0.5px rgba(212, 175, 55, 0.6);
    font-weight: 500;
    transition: all 0.3s ease;

    &.active {
      background: linear-gradient(155deg, #494330, #b0934a);
      color: #1c1c1c;
      box-shadow: inset 0.5px 1px 2px 0.5px rgba(212, 175, 55, 0.5);
    }

    &:hover {
      background: linear-gradient(155deg, #3b321c, #2b2b2b);
      color: #fff;
      transform: translateY(-1.5px);
      box-shadow: 0 0.5px 6px 0.5px rgba(212, 175, 55, 0.6);
    }
  }
}
