.btn {
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  font-family: monospace;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.25s ease;
  text-align: center;

  /* ============================= */
  /* PRIMARY BUTTON */
  /* ============================= */
  &.btn--primary {
    align-self: flex-start;
    padding: 8px 16px;
    box-shadow: 0 2px 6px rgba(212, 175, 55, 0.5);
    background: linear-gradient(155deg, #2b2b2b, #3b321c);
    border-radius: 6px;
    color: #fbe8a6;
    transition: all 0.35s ease;

    &:hover {
      background: linear-gradient(155deg, #3b321c, #2b2b2b);
      color: #fff;
      transform: translateY(-1px);
      box-shadow: 0 1px 2px rgba(212, 175, 55, 0.6);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  /* ============================= */
  /* SECONDARY BUTTON */
  /* ============================= */
  &.btn--secondary {
    border-radius: 12px;
    padding: 10px 16px;
    background: rgba(40, 35, 30, 0.6);
    color: #fbe8a6;
    box-shadow: 0 1px 2px rgba(212, 175, 55, 0.4);
    font-weight: 500;
    transition: all 0.35s ease;

    &.active {
      background: linear-gradient(155deg, #494330, #b0934a);
      color: #1c1c1c;
      box-shadow: inset 0 2px 6px rgba(212, 175, 55, 0.5);
    }

    &:hover {
      background: linear-gradient(155deg, #3b321c, #2b2b2b);
      color: #fff;
      transform: translateY(-2px);
      box-shadow: 0 3px 8px rgba(212, 175, 55, 0.5);
    }
  }

  /* ============================= */
  /* LANG BUTTON (AboutLang) */
  /* ============================= */
  &.btn--lang {
    width: 100%;
    padding: 6px 12px;
    border-radius: 2px;
    background: rgba(46, 44, 44, 0.8);
    color: #fbe8a6;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(212, 175, 55, 0.35);
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(155deg, #3b321c, #2b2b2b);
      color: #fff;
    }

    &.active {
      background: linear-gradient(155deg, #b0934a, #494330);
      color: #222121;
      box-shadow: inset 0 1px 4px rgba(212, 175, 55, 0.5);
    }
  }
}
