.btn {
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  font-family: monospace;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.25s ease;
  text-align: center;

  /* ============================= */
  /* PRIMARY BUTTON */
  /* ============================= */
  &.btn--primary {
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #bda344;
    border-radius: 14px;
    box-shadow: inset 0 0 10px rgba(212, 175, 55, 0.5);
    background: transparent;
    transition: all 0.35s ease;
    cursor: pointer;

    &:hover {
      background: rgba(212, 175, 55, 0.1);
      color: #fff;
      transform: translateY(-1px);
      box-shadow: inset 0 0 8px rgba(232, 191, 57, 0.35);
      border-color: rgba(212, 175, 55, 0.6);
    }

    &:active {
      background: linear-gradient(155deg, #494330, #b0934a);

      box-shadow: inset 0 2px 4px rgba(212, 175, 55, 0.5);
    }
  }

  /* ============================= */
  /* SECONDARY BUTTON */
  /* ============================= */
  &.btn--secondary {
    border-radius: 12px;
    padding: 10px 16px;
    background: rgba(115, 92, 42, 0.259); // полностью прозрачный фон
    color: #bda344;
    box-shadow: inset 0 1px 2px rgba(212, 175, 55, 0.4); // inset вместо обычного
    font-weight: 500;
    transition: all 0.35s ease;

    &.active {
      background: rgba(
        73,
        67,
        48,
        0.3
      ); // лёгкая прозрачная подложка вместо градиента
      color: #1c1c1c;
      box-shadow: inset 0 2px 6px rgba(212, 175, 55, 0.5); // inset сохраняем
    }

    &:hover {
      background: rgba(
        81,
        68,
        36,
        0.3
      ); // прозрачная подсветка вместо градиента
      color: #fff;
      box-shadow: inset 0 2px 4px rgba(212, 175, 55, 0.5); // inset вместо обычного
      transform: translateY(+2px);
    }
  }

  /* ============================= */
  /* LANG BUTTON (AboutLang) */
  /* ============================= */
  &.btn--lang {
    margin-bottom: 1px;
    padding: 5px;
    border-radius: 2px;
    background: rgba(51, 45, 45, 0); // полностью прозрачный фон
    font-weight: 500;
    color: #bda344;
    text-align: center;

    transition: all 0.3s ease;
    box-shadow: inset 0 1px 4px rgba(212, 175, 55, 0.5); // внутренний бокс сохраняем

    &:hover {
      background: rgba(59, 50, 28, 0.3); // лёгкая прозрачная подложка для hover
      color: #fff;
    }

    &.active {
      background: rgba(
        202,
        151,
        22,
        0.3
      ); // прозрачный градиент-подобный эффект
      color: #222121;
      box-shadow: inset 0 1px 4px rgba(212, 175, 55, 0.5); // inset сохраняем
    }
  }
}
