.btn {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-family: monospace;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.25s ease;
  text-align: center;

  /* Основная кнопка Submit */
  &.btn--primary {
    background: linear-gradient(155deg, #2b2b2b, #3b321c);
    color: #fbe8a6;
    border: 1px solid rgba(212, 175, 55, 0.5);
    box-shadow: 0 3px 8px rgba(212, 175, 55, 0.5);

    &:hover {
      background: linear-gradient(145deg, #fdebb2, #f4d27b);
      color: #1c1c1c;
      transform: translateY(-1px);
      box-shadow: 0 4px 12px rgba(212, 175, 55, 0.6);
    }
  }

  /* Вкладки Login / Register */
  &.btn--secondary {
    padding: 10px 14px;
    background: rgba(40, 35, 30, 0.6);
    color: #fbe8a6;
    box-shadow: 0 1px 1.5px 0.5px rgba(212, 175, 55, 0.6);
    font-weight: 500;
    transition: all 0.3s ease;

    &.active {
      background: linear-gradient(155deg, #494330, #b0934a);
      color: #1c1c1c;
      box-shadow: inset 0 0 8px rgba(212, 175, 55, 0.5);
    }

    &:hover {
      background: rgba(212, 175, 55, 0.2);
      color: #fff;
    }
  }
}
