.btn {
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  font-family: monospace;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.25s ease;
  text-align: center;

  /* ============================= */
  /* PRIMARY BUTTON */
  /* ============================= */
  &.btn--primary {
    padding: 10px 14px;
    border-radius: 12px;
    color: #fbe8a6; /* золотой текст */
    background: transparent; /* прозрачный фон */
    box-shadow: 0 1px 4px rgba(212, 175, 55, 0.5); /* золотая тень */
    border: 1px solid rgba(212, 175, 55, 0.5);
    transition: all 0.35s ease;
    cursor: pointer;

    &:hover {
      background: rgba(212, 175, 55, 0.1);
      color: #fff;
      transform: translateY(-1px);
      box-shadow: inset 0 0 8px rgba(232, 191, 57, 0.35);
      border-color: rgba(212, 175, 55, 0.6);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 1px 4px rgba(212, 175, 55, 0.5);
    }
  }

  /* ============================= */
  /* SECONDARY BUTTON */
  /* ============================= */
  &.btn--secondary {
    border-radius: 12px;
    padding: 10px 16px;
    background: rgba(40, 35, 30, 0.6);
    color: #fbe8a6;
    box-shadow: 0 1px 2px rgba(212, 175, 55, 0.4);
    font-weight: 500;
    transition: all 0.35s ease;

    &.active {
      background: linear-gradient(155deg, #494330, #b0934a);
      color: #1c1c1c;
      box-shadow: inset 0 2px 6px rgba(212, 175, 55, 0.5);
    }

    &:hover {
      background: linear-gradient(155deg, #3b321c, #2b2b2b);
      color: #fff;
      box-shadow: 0 2px 4px rgba(212, 175, 55, 0.5);
      transform: translateY(+2px);
    }
  }

  /* ============================= */
  /* LANG BUTTON (AboutLang) */
  /* ============================= */
  &.btn--lang {
    margin-bottom: 2px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 2px;
    background: rgba(51, 45, 45, 0.8);
    color: #fbe8a6;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(212, 175, 55, 0.35);
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(155deg, #3b321c, #2b2b2b);
      color: #fff;
    }

    &.active {
      background: linear-gradient(155deg, #b0934a, #494330);
      color: #222121;
      box-shadow: inset 0 1px 4px rgba(212, 175, 55, 0.5);
    }
  }
}
