.Nav {
  user-select: none;
  position: fixed;
  top: 15px;
  left: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.6); // glassmorphism
  backdrop-filter: blur(10px);
  border-radius: 22px;
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.25);
  z-index: 1000;

  .Nav_logo img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }

  .Nav_links {
    display: flex;
    gap: 50px;

    a {
      text-decoration: none;
      color: #ebdb72;
      font-weight: 600;
      font-family: monospace;
      font-size: 1.1rem;
      position: relative;
      transition: color 0.3s;

      &:hover {
        color: #d4af37; // мягкий золотой
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #d4af37;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  /* Logout кнопка справа */
  .Nav_logout {
    padding: 8px 16px;
    font-size: 1rem;
    transition: all 0.25s ease;

    &:hover {
      background: linear-gradient(
        135deg,
        rgba(212, 175, 55, 0.4),
        rgba(255, 215, 0, 0.4)
      );
      color: black;
      transform: translateY(-1px);
      box-shadow: 0 5px 15px rgba(212, 175, 55, 0.45);
    }
  }
}
