.Nav {
  user-select: none;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background: linear-gradient(155deg, #141313, #393630);
  backdrop-filter: blur(6px);
  border-radius: 28px;
  box-shadow: 0 1px 2px 1px rgba(215, 179, 60, 0.5);
  z-index: 1000;

  .Nav_logo img {
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.25s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .Nav_links {
    display: flex;
    gap: 120px;

    a {
      text-decoration: none;
      color: #e0d19c;
      font-weight: 600;
      font-family: monospace;
      font-size: 1.2rem;
      position: relative;
      transition: color 0.4s ease;

      &:hover {
        color: #d4af37;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 100%;
        border-radius: 2px;
        background-color: #cbb260;

        transform: scaleX(0);
        transform-origin: left;
        opacity: 0;
      }

      &:hover::after {
        animation: underlineSwipe 0.9s ease forwards;
      }
    }
  }

  /* 🔥 Анимация: появление → исчезновение */
  @keyframes underlineSwipe {
    0% {
      transform: scaleX(0);
      opacity: 1;
    }

    40% {
      transform: scaleX(1);
      opacity: 1;
    }

    100% {
      transform: scaleX(1);
      opacity: 0;
    }
  }

  /* 📱 MOBILE */
  @media (max-width: 768px) {
    padding: 0.4rem 0.8rem;

    .Nav_links {
      gap: 40px;

      a {
        font-size: 1rem;
      }
    }

    .Nav_logo img {
      width: 24px;
    }

    .Nav_logout {
      padding: 2px;
      font-size: 0.8rem;
    }
  }
}
