.Nav {
  user-select: none;
  position: fixed;
  top: 8px;
  left: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 26px;
  background: linear-gradient(
    145deg,
    rgba(146, 128, 77, 0.18),
    rgba(0, 0, 0, 0.25)
  );

  box-shadow:
    inset 0 0 2px rgba(212, 175, 55, 0.7),
    // мягкий общий glow
    inset 1px 0 1px rgba(212, 175, 55, 0.5),
    // слева
    inset -1px 0 1px rgba(212, 175, 55, 0.5),
    // справа
    inset 0 1px 3px rgba(212, 175, 55, 0.5),
    // сверху
    inset 0 -1px 2px rgba(212, 175, 55, 0.5);
  z-index: 1000;

  .Nav_logo img {
    width: 38px;
    border-radius: 50%;
    cursor: pointer;

    transition: transform 0.25s ease;
    will-change: transform;

    &:hover {
      transform: scale(1.1);
    }
  }

  /* ===============================
     LINKS
     =============================== */
  .Nav_links {
    display: flex;
    gap: 150px;

    a {
      text-decoration: none;
      color: #bda344;
      font-weight: 600;
      font-family: monospace;
      font-size: 1.1rem;

      position: relative;
      transition: color 0.4s ease;

      &:hover {
        color: #e9b716;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 100%;
        border-radius: 2px;

        background-color: #bda344;

        transform: scaleX(0);
        transform-origin: left;
        opacity: 0;

        will-change: transform, opacity;
      }

      &:hover::after {
        animation: underlineSwipe 0.9s ease forwards;
      }
    }
  }

  /* ===============================
     UNDERLINE ANIMATION
     =============================== */
  @keyframes underlineSwipe {
    0% {
      transform: scaleX(0);
      opacity: 1;
    }

    40% {
      transform: scaleX(1);
      opacity: 1;
    }

    100% {
      transform: scaleX(1);
      opacity: 0;
    }
  }

  /* ===============================
     MOBILE (NO BLUR)
     =============================== */
  @media (max-width: 768px) {
    padding: 0.4rem;

    .Nav_links {
      gap: 36px;

      a {
        font-size: 0.9rem;
      }
    }

    .Nav_logo img {
      width: 26px;
    }

    .Nav_logout {
      padding: 5px;
      font-size: 0.7rem;
    }
  }
}
