.AuthLayout {
  user-select: none;
  // Основной контейнер всего layout’а приложения

  min-height: 100vh;
  // Минимальная высота — вся высота окна браузера

  display: flex;
  // Используем flexbox для построения вертикальной структуры

  flex-direction: column;
  // Располагаем элементы сверху вниз (Navbar → Content → Footer)

  &_mainContent {
    // Основная зона контента между Navbar и Footer

    flex: 1;
    // Занимает всё доступное пространство по высоте
  }
}
