/* Сброс отступов и box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 


  background: linear-gradient(
    390deg,
    #050505 0%,
    #0f0f0f 40%,
    #16140f 70%,
    #13120d 100%
  ); 
  /* Плавный переход фона:
     сверху почти чёрный →
     тёмно-серый →
     тёплый тёмно-золотой →
     чистый золотой внизу */
}

